body {
	font-family: arial;
	font-size: 1em;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 141, 235);
	padding: 1em;
}
.district {
	color: #1c1c1c;
	background-color: rgb(255, 255, 255);
	border-radius: 1rem;
	padding: inherit;
	margin: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 5rem;
	/* Align image and text horizontally */
	display: flex;                 
	flex-direction: row;           
	flex-wrap: nowrap;              
	justify-content: normal;
}
.district:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.district div.icon {
	height: 5rem;
	width: 5rem;
	display:flex;
	align-items:center;
	justify-content:center;
}
.district .icon img {
	height: 100%;
}
.district .details {
	float: right;
	margin-left: 1rem;
}
/* Modal based on w3schools */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.344);
	width: 100%;
	height: 100%;
}

.modalBox {
	/* Shift to top and align horizontally */
	position: relative;
	top: 25%;
	transform: translateY(-50%);
	margin: auto;
	width: 50%;
	
	border-radius: 2rem;
	color: black;
	background-color: rgb(255, 255, 255);
	width: 30rem;
	height: 20rem;

	text-align: center;

	padding: 1rem;
}

.modalBox .icon {
	height: 5rem;
}
.modalBox .icon img {
	height: 100%;
}